@model MakingOurStory_Brielina.Models.fragmentoHistoria

@{
    ViewBag.Title = Model.TituloFragmento;
    ViewData["PassoAnterior"] = Model.IdFragmentoParent;
    ViewData["TituloPasso"] = Model.TituloFragmento;
    ViewData["TextoPasso"] = Model.TextoFragmento;
}

<h1>@ViewData["TituloPasso"]</h1>
<p>@ViewData["TextoPasso"]</p>

@{ foreach (var fragmento in Model.Segmentos)
    {
        @Html.ActionLink(fragmento.TituloFragmento, "Sequencia", "Fragmentos", new { id = fragmento.IdFragmentoHistoria, fragmento = fragmento }, new { @class = "btn btn-primary", @style = "margin-left:4px;" })
    }
}

@Html.ActionLink("Novo", "Novo", "Fragmentos", new { id = Model.IdFragmentoHistoria }, new { @class = "btn btn-success" })

@if (Model.IdFragmentoParent != 0)
{
    @Html.ActionLink("Voltar", "Sequencia", "Fragmentos", new { id = Model.IdFragmentoParent }, new { @class = "btn btn-info" })
}
